@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<table>
    <tr>
        <td>
            <input type="text" id="inp"/>
        </td>
        <td>
            <input type="button" id="btn" value="Delete" />
        </td>
    </tr>
</table>